<div *ngIf="projects && projects.length > 0" class="carousel-container">
    <img *ngFor="let project of projects; let i=index" [src]="project.imageSrc"
        [ngClass]="{'image-active': selectedIndex === i }" class="fade">

    <div *ngFor="let project of projects; let i=index" [ngClass]="{'content-active': selectedIndex === i }" class="content fade">
        <div class="title"> {{project.title}}</div>
        <div class="duration"> {{ project.duration }} </div>
        <div class="desc"> {{ project.description }} </div>
        <b><i>Software Stack</i></b><br>
        <div class="stack"> {{ project.softwareStack }} </div>
        <a [href]="project.link">Link</a>
    </div>

    <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of projects; let i=index" class="dot" [ngClass]="{'active': selectedIndex === i}"
            (click)="selectImage(i)">
        </span>
    </div>
</div>