.carousel-container {
    position: relative;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    display: flex;
    // flex-direction: column;
    z-index: 1 !important;
    background-color: rgb(0, 0, 0);
}

.carousel-container img {
    display: none;
    border-radius: 15px;
    background-size: fill;
}

.carousel-container .content {
    display: none;
}

.carousel-container .content.content-active{
    width: 60%;
    height: 90%;
    display: block;
    color: white;
    overflow: scroll;
}
.carousel-container img.image-active {
    display: block;
    width: 100%;
    height: 100%;

}

.carousel-dot-container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1rem;
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    transition: opacity 0.6s ease;
    opacity: 0.5;
}

.active,
.dot:hover {
    opacity: 1;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.btn-carousel {
    position: absolute;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.title {
    font-weight:bolder;
    font-size:xx-large;
    margin: 2rem;
    margin-bottom: 1rem;
}
.duration {
    font-size: larger;
    font-weight: bold;
    // width: 90%;
    // border-bottom: 1px solid white;
    // padding-bottom: 1rem;
}
.desc {
    margin: 3rem;
    margin-top: 2rem;
    text-align: justify;
}
.stack {
    margin: 3rem;
    margin-top: 1rem;
}
button {
    color: white;
    background-color: aqua;
    border-radius: 20px;
    padding: 20px;
}