.about-container {
    height: 100%;
    width: 100%;
    background-color: #FAF9F7;
    display: flex;
}

.decor-box {
    width: 30%;
    height: 55%;
    background-color: #E8E4E1;
    margin-top: 15%;
}

.decor-box1 {
    height: 55%;
    width: 30%;
    margin: 10% 0;
    margin-left: -23%;
    background-color: greenyellow;
}

.decor-box2 {
    height: 60%;
    width: 50%;
    margin-top: 12%;
    margin-left: 6%;
}

img {
    height: 100%;
    width: 100%;
}

.heading {
    font-size: 48.7px;
    margin-bottom: 5%;
}

.content {
    font-size: 15px;
    font-weight: 100;
    margin: 20px 0px;
    text-align: justify;
}

@media (max-width: 800px) {
    .about-container {
        flex-direction: column;
        overflow: scroll;
    }

    .decor-box {
        display: none;
    }

    .decor-box1 {
        height: 35%;
        width: 60%;
        margin: 20% auto;
        margin-bottom: 10%;
    }

    .decor-box2 {
        height: auto;
        width: 80%;
        margin: auto;
    }
    .heading {
        font-size: 35px;
    }
}