<div class="about-container">
    <div class="decor-box"></div>
    <div class="decor-box1">
        <img src="../../assets/shereen_Professional.jpeg">
    </div>
    <div class="decor-box2">
        <div class="heading">Hi!<br>
            I'm Shereen Jubal</div>
        <p class="content">I am a dedicated Full Stack Engineer with over three years of experience specializing in web
            development. My expertise includes Angular, HTML, CSS3, JavaScript, TypeScript, Java, and various databases
            such as MySQL, PostgreSQL, Firebase, and MongoDB. I excel in leadership, mentoring, and team management,
            consistently achieving project milestones with superior results. My strong problem-solving abilities,
            innovative mindset, and meticulous attention to detail drive successful project outcomes.</p>

        <p class="content">From a young age, I was drawn to problem-solving,
            which naturally led me to pursue programming as a career. I embrace challenges that push me beyond my
            comfort zone and am passionate about coding, eager to learn any language. My aspiration is to evolve as a
            software engineer, exploring new domains and expanding my skill set. Luck has never been on my side,
            reinforcing my belief in the power of hard work.</p>

        <p class="content">Outdoor activities are integral to my life, igniting a passion for adventure and diversity.
            Kindness is a guiding principle for me—"In a world where we can be anything, be kind"—reflecting my approach
            to life and interactions. With the support of God, a loving family, and great friends, I navigate life's
            challenges and joys. Academically and personally, I continue to learn and grow, shaping myself into the
            person I aspire to be.</p>
    </div>
</div>
<div style="height: 10%; width: 100%; background-color: #A99F93;"></div>
