<section id="about-section">
    <p>About works!</p>
    <p>About works!</p><p>About works!</p><p>About works!</p><p>About works!</p><p>About works!</p><p>About works!</p><p>About works!</p><p>About works!</p><p>About works!</p><p>About works!</p><p>About works!</p><p>About works!</p><p>About works!</p><p>About works!</p><p>About works!</p><p>About works!</p><p>About works!</p><p>About works!</p><p>About works!</p><p>About works!</p><p>About works!</p><p>About works!</p><p>About works!</p><p>About works!</p><p>About works!</p>
  </section>