body {
    font-family: Arial, sans-serif;
}

.nav-container {
    top: 0;
    position: relative;
    z-index: 999;
    display: flex;
    height: 10vh;
    width: 100vw;
    background-color: #faf9f7;
}

.logo {
    font-size: 40px;
    margin-left: 40px;
    width: 60%;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 900;
}

nav {
    background-color: #faf9f7;
    position: sticky;
    top: 0;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

li {
    cursor: pointer;
    padding: 15px 15px;
    font-size: large;
    font-weight: 100;
}

li.active {
    background-color: #7D7C7B !important;
    border-radius: 10px !important;
    color: white !important;
    // border-bottom: 1px solid black;
    // font-weight: 900;
}

li:hover {
    background-color: #7D7C7B !important;
    border-radius: 10px !important;
    color: white !important;
    // border-bottom: 1px solid black;
}

@media (width <=800px) {
    // nav {
    //     display: none;
    //     width: 0px;
    // }

    .logo {
        font-size: 32px;
        width: 90%;
    }

    .navIcon {
        height: 20px;
        width: 22px;
        float: right;
        margin-right: 2rem;
    }

    .sideNavBar-container {
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.324);
    }

    .sideNavBar {
        height: 100%;
        width: 70%;
        background-color: #faf9f7;
        position: absolute;
        right: 0;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .navCloseIcon {
        height: 20px;
        float: left;
        margin-top: 20px;
        margin-left: 20px;
    }
    
    ul {
        margin: 1rem;
        margin-top: 5rem;
        flex-direction: column;
    }
}