nav {
    position: sticky;
}

.nav-container {
    position: sticky;
    display: flex; 
    width: 100vw;
    height: 7vh; 
    background-color: beige; 
}

a {
    color: black;
    text-decoration: none;
    font-size: x-large;
}
 button {
    border: 0cm;
    background-color: beige;
    height: 100%;
 }

button:hover {
    background-color: black;
}
a:hover {
    color: white;
}