<div class="nav-container">
    <div class="logo">
            MY PORTFOLIO
    </div>
    <nav>
        <ul>
            <li (click)="scrollToSection('about-section')" [class.active]="activeSection === 'about-section'">ABOUT</li>
            <li (click)="scrollToSection('works-section')" [class.active]="activeSection === 'works-section'">WORKS</li>
            <li (click)="scrollToSection('skills-section')" [class.active]="activeSection === 'skills-section'">SKILLS
            </li>
            <li (click)="scrollToSection('projects-section')" [class.active]="activeSection === 'projects-section'">
                PROJECTS</li>
            <li (click)="scrollToSection('contact-section')" [class.active]="activeSection === 'contact-section'">
                CONTACT</li>
        </ul>
    </nav>
</div>