<div class="nav-container">
    <div style="width: 60%; margin-top: auto; margin-bottom: auto;">
        <div class="logo" style="font-size:40px; margin-left: 40px;">
            <b>MY PORTFOLIO</b>
        </div>
        <!-- style="display: flex; margin: auto; width: 40%; justify-content: space-around; height: 100%; margin-right: 40px;" -->
    </div>
    <div class="navbar" >
        <a id="as"  href="#about-section" (click)="scrollTo('about-section')" >ABOUT</a>
        <a id="ws" href="#works-section" (click)="scrollTo('works-section')" >WORKS</a>
        <a id="ss" href="#skills-section" (click)="scrollTo('skills-section')" >SKILLS</a>
        <a id="ps"  href="#projects-section" (click)="scrollTo('projects-section')" >PROJECTS</a>
        <a id="is" href="#interests-section" (click)="scrollTo('interests-section')" >INTERESTS</a>
        <a id="cs" href="#contact-section" (click)="scrollTo('contact-section')" >CONTACT</a>
    </div>
</div>
