<!-- <div class="container"> -->
    <nav class="nav">
        <div class="nav-container">
            <div style="width: 60%; margin-top: auto; margin-bottom: auto;">
                <div class="logo" style="font-size:xx-large; font-family:cursive; margin-left: 20px;">
                    My portfolio
                </div>
            </div>
            <div style="display: flex; margin: auto; width: 40%; justify-content: space-around; height: 100%;">
                <button>
                    <a href="#home-page">Home</a>
                </button>
                <button >
                    <a href="#about-section">About</a>
                </button>
                <button>
                    <a href="#works-section">Works</a>
                </button>
                <button>
                    <a href="#skills-section">Skills</a>
                </button>
                <button>
                    <a href="#interests-section">Interests</a>
                </button>
                <button>
                    <a href="#contact-section">Contact</a>
                </button>
            </div>
        </div>
    </nav>
<!-- </div> -->