nav {
     
}
.nav-container {
    position: absolute;
    top: 0;
    z-index: 1;
    // position: sticky;
    display: flex; 
    height: 10vh;
    width: 100vw;
    background-color: #faf9f7; 
}
a {
    color: black;
    text-decoration: none;
    font-size: large;
}
button {
    border: 0cm;
    background-color: #FAF9F7;
    height: 40%;
    margin: auto;
    border-radius: 5px;
}
button:hover {
    background-color: black;
}
a:hover {
    color: white;
}