.projects-container {
    height: 100%;
    width: 100%;
    background-color: #DACABD;
    display: flex;
    flex-direction: column;
    z-index: -1;
}
.decor-box4 {
    display: flex;
}
h1 {
    margin-left: auto;
    margin-right: auto;
}
.projects {
    height: 70%;
    width: 70%;
    margin: auto;
}