<div class="contact-container">
    <div style="height: 10%; width: 100%; background-color: #DACABD;"></div>
    <div class="main-container">
        <div class="decorbox"></div>
        <div class="photo"></div>
        <div class="heading">
            Ready to work with me?
        </div>
        <div class="contact-details">
            <div>
                I am always eager to connect and discuss how we can create impactful solutions together. Whether you
                have a
                project in mind, a job opportunity or just want to chat about the latest tech trends, feel free to reach
                out. <br>
                Let's collaborate and make something great!
            </div>
            <button (click)="popupAction()">Contact</button>
        </div>
    </div>
    <div class="popup-container" [class.show]="popup">
        <app-popup (closePopup)="popupAction()"></app-popup>
    </div>
</div>


<!-- <div style="display: flex; height: 1rem; align-items: center;">
    <img src="../../assets/phone.png" >
    <div> +1 (937) 554 - 6043</div>
</div>
<div style="display: flex; height: 1rem; align-items: center;">
    <img src="../../assets/email.png" >
    <div> shereenjubal1&#64;gmail.com</div>
</div>
<div style="display: flex; height: 1rem; align-items: center;">
    <img src="../../assets/location.png">
    <div> Dayton, OH</div>
</div> 
<div style="display: flex; height: 1rem; align-items: center;">
    <img src="../../assets/github.png">
</div>
<div style="display: flex; height: 1rem; align-items: center;">
    <img src="../../assets/linkedin.png">
</div>   -->