.contact-container {
    height: 100%;
    width: 100%;
    background-color: #E8E4E1;
}
.main-container {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.decorbox {
    height: 35%;
    width: 70%;
    background-color: #A99F93;
    margin: 0px auto;
}
.photo {
    height: 40%;
    width: 25%;
    background-image: url('../../assets/Shereen_SCasual.jpeg');
    background-size:cover;
    margin: -10% auto;
}
.heading {
    font-size: 48.7px; 
    margin-bottom: 5%;
    margin: auto;
    margin-top: 12%;
}
.contact-details {
    height: 30%; 
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 1rem;
}
img {
    cursor: pointer;
    height: 30px;
}
button {
    background-color: #E8E4E1;
    padding: 10px 20px;
    border: 1px solid black;
    margin-top: 2rem;
    font-size: large;
    cursor: pointer;
    border-radius: 40px;
}
button:hover {
    background-color: #A99F93;
    color: white;
}