<div class="contact-container">
    <div style="height: 10%; width: 100%;"></div>
    <div class="main-container">
        <div class="decorbox"></div>
        <div class="photo"></div>
        <div class="heading">
            Ready to work with me?
        </div>
        <div class="contact-details">
            <b>PHONE:</b> +1 (937) 554-6043 <br>
            <b>EMAIL:</b> <a href="shereenjubal1@gmail.com"></a><br>
            <b>GITHUB:</b> <a href="https://github.com/Shereen-Esther">https://github.com/Shereen-Esther</a><br>
            <b>LINKEDIN:</b> <a href="https://www.linkedin.com/in/shereen-jubal/">https://www.linkedin.com/in/shereen-jubal/</a><br>
            <b>LOCATION:</b> Dayton, OH
        </div>
    </div>
</div>