<div class="popup-container">
    <div class="popup">
        <img class="icon" style="cursor: pointer;" (click)="close()" src="../../assets/icons/left_arrow.svg">
        <div class="inside-popup">
            <div class="contact-info">
                <img class="icon" src="../../assets/icons/phone.png">
                <div> +1 (937) 554 - 6043</div>
            </div>
            <div class="contact-info">
                <img class="icon" src="../../assets/icons/email.png">
                <div> shereenjubal1&#64;gmail.com</div>
            </div>
            <div class="contact-info">
                <img class="icon" src="../../assets/icons/location.png">
                <div> Dayton, OH</div>
            </div>
            <div class="icons-container">
                <div>
                    <a href="https://github.com/Shereen-Esther"><img class="icon-button" src="../../assets/icons/github.png"></a>
                </div>
                <div>
                    <a href="https://www.linkedin.com/in/shereen-jubal/"><img class="icon-button" src="../../assets/icons/linkedin.png"></a>
                </div>
            </div>
            <button class="" (click)="downloadResume()">
                Download Resume 
            </button>
        </div>
    </div>
</div>