<div class="popup-container">
    <div class="popup">
        <img (click)="close()" src="../../assets/icons/close.png">
        <div class="inside-popup">
            <div style="display: flex; height: 1rem; align-items: center;">
                <img src="../../assets/icons/phone.png">
                <div> +1 (937) 554 - 6043</div>
            </div>
            <div style="display: flex; height: 1rem; align-items: center;">
                <img src="../../assets/icons/email.png">
                <div> shereenjubal1&#64;gmail.com</div>
            </div>
            <div style="display: flex; height: 1rem; align-items: center;">
                <img src="../../assets/icons/location.png">
                <div> Dayton, OH</div>
            </div>
            <div style="display: flex; height: 1rem; align-items: center;">
                <img src="../../assets/icons/github.png">
            </div>
            <div style="display: flex; height: 1rem; align-items: center;">
                <img src="../../assets/icons/linkedin.png">
            </div>
            <div style="display: flex; height: 1rem; align-items: center;">
                Resume Download
            </div>
        </div>
    </div>
</div>