.popup-container {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.694);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    z-index: 9999;
}

.popup {
    margin: auto;
    height: 60%;
    width: 30%;
    background-color: #faf9f7;
    border-radius: 20px;
}

.icon {
    width: 20px;
    float: left;
    margin: 1rem;
}

.inside-popup {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.icon-button {
    height: 40px;
    margin: 1rem;
    cursor: pointer;
}
.contact-info {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: #A99F93;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2), 0 1px 6px 0 rgba(0,0,0,0.19);
}
.icons-container {
    display: flex;
    margin: auto;
}
button {
    background-color: #faf9f7;
    padding: 10px 20px;
    border: 1px solid black;
    margin: 1rem auto;
    margin-top: 0;
    font-size: large;
    cursor: pointer;
    border-radius: 40px;
    width: 45%;
}
button:hover {
    background-color: #393A41;
    color: white;
}