.skills-container {
    height: 100%;
    width: 100%;
    background-color: #DACABD;
}
.header {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main-container {
    height: 80%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}
h1 {
    margin: auto;
}
.main-div {
    height: 30%;
    width: 25%;
    display: flex;
}
.skill-box {
    height: 50%;
    margin: auto;
    width: 65%;
    background-color: #FAF9F7;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
.skill-box:hover {
    // filter: drop-shadow(0 0 0.5rem gray);
    cursor: pointer;
}
.skill-logo {
    margin: -15% auto;
    height: 65px;
}
.skill-heading {
    margin: 0px auto;
    margin-top: 18%;
}
.skill-stars {
    margin: auto;
    margin-top: 5%;
}
  @media (max-width: 800px) {
    .main-div {
        width: 50%;
        height: 20%;
    }
    .skill-logo {
        margin: -15% auto;
        height: 45px;
    }
    .star {
        height: 20px;
    }
    .skill-box {
        width: 80%;
        height: 60%;
    }
  }