<div style="overflow: scroll; height: 100%; width: 100%;">
    <div style="height: 10%; width: 100%; position: absolute; top: 0;">
        <app-navbar class="nav" [class.hide-nav]="hideNav" style="position: sticky;top: 0; height: 100%;"></app-navbar>
    </div>
    <!-- <app-home id="home-page"></app-home> -->
    <!-- <div class="container" (scroll)="onScroll($event)"> -->
    <app-about id="about-section"></app-about>
    <app-works id="works-section"></app-works>
    <app-skills id="skills-section"></app-skills>
    <app-interests id="interests-section"></app-interests>
    <app-contact id="contact-section"></app-contact>
</div>