*{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    font-family: 'MyFont';
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #FAF9F7;
    // background-image: url('../../shereen-portfolio/src/assets/bg_image_5.jpeg');
    // background-size: cover;
}

@font-face {
    font-family: 'MyFont';
    src: url('../src/assets/Caslon\ 540\ Regular.otf');
}

.container {
    background-color: white;
    height: 100%;
    width: 100%;
}
nav {
    position: sticky;
}