
.home-container {
    // background-color: rgba(240, 248, 255, 0.223);
    height: 100%;
    width: 100%;
    display: flex;
}
.name-box {
    height: 20%;
    width: 30%;
    margin: auto;
    display: flex;
}
.name {
    color: white;
    font-size: 70px;
    margin: auto;
    text-decoration-line: 3px;
    text-decoration-color: black;
    // background-color: black;
    // padding: 2%;
}