<div class="works-container">
    <div style="height: 10%; width: 100%;"></div>
    <div class="decor-box4">
        <h1>WORK EXPERIENCE</h1>
        <div class="logo">
            <a href="https://www.surfboardpayments.com/"><img src="../../assets/Work Logos/surfboard logo.webp"></a>
            <a href="https://www.wipro.com/"><img src="../../assets/Work Logos/wipro logo.svg"></a>
            <a href="https://www.hpe.com/us/en/home.html"><img class="hp-logo" src="../../assets/Work Logos/HP logo.png"></a>
        </div>
    </div>
    <div class="decor-box5">
        <div class="text-box">
            <h2>Software Engineer <br>Surfboard Payments</h2>
            <h3>(April 2020 - March 2022)</h3>
            <div class="content">
                I constructed MVC web applications using Angular, Firebase, MongoDB, and Node.js, integrating them with
                Nx-Dev applications. I designed and built a microfinance platform for non-profits and developed a
                Merchant Management System for tracking activities, KYC, and ticket management. I created data models,
                implemented responsive design principles, optimized performance, and built microservices. I maintained
                CI/CD pipelines, wrote unit tests, collaborated on microservices, and designed scalable architectures. I
                mentored interns, conducted interviews, and developed APIs with proficiency in PHP, jQuery, and UI/UX
                design, ensuring high-quality software solutions. My work led to a 20% increase in user engagement and a
                30% reduction in deployment times.
            </div>
        </div>
        <div class="text-box">
            <h2>Software Engineer Trainee <br>Wipro Limited</h2>
            <h3>(October 2019 - March 2020)</h3>
            <div class="content">
                I specialized in problem-solving and algorithm implementation using Java in the Eclipse framework,
                engineering efficient solutions to complex coding challenges and enhancing application performance. I
                collaborated with developers to integrate C# and .NET into existing Java-based projects, conducted
                thorough code reviews and debugging sessions, and developed comprehensive documentation and training
                materials. I developed and maintained C# applications using object-oriented programming principles and
                design patterns, and implemented asynchronous programming with async and await to improve application
                responsiveness.
            </div>
        </div>
        <div class="text-box">
            <h2>Big Data Intern <br>Hewlett Packard Enterprise</h2>
            <h3>(April 2019 - September 2019)</h3>
            <div class="content">
                I focused on big data analysis and management, applying SQL with the MySQL framework to perform
                efficient querying against large business databases. I developed and optimized data processing workflows
                using Hadoop and Hive tools and collaborated with data engineers to design and implement data storage
                solutions. I conducted performance tuning and troubleshooting to ensure efficient data retrieval and
                processing, gaining hands-on experience in database management, data analytics, and software development
                best practices.
            </div>
        </div>
    </div>
</div>