.works-container {
    height: 100%;
    width: 100%;
    background-color: #FAF9F7;
}
img {
    width: 150px;
    cursor: pointer;
    margin: auto;
    margin-bottom: -60px;
}
.hp-logo {
    width: 200px;
    margin-bottom: -55px;
}
.decor-box4 {
    width: 100%;
    height: 25%;
    background-color: #FAF9F7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.decor-box5 {
    width: 100%;
    height: 65%;
    background-color: #E8E4E1;
    display: flex;
}
h1 {
    margin-left: auto;
    margin-right: auto;
}
h2,h3 {
    text-align: center;
    margin-top: 20px;
}
.text-box {
    height: 70%;
    width: 25%;
    margin: auto;
}
.content {
    height: 80%;
    width: 100%;
    overflow: scroll;
    margin-top: 5%;
}
.logo {
    display: flex;
}