.works-container {
    height: 100%;
    width: 100%;
    background-color: #FAF9F7;
}

.heading-container {
    width: 100%;
    height: 25%;
    background-color: #FAF9F7;
    display: flex;
}
h1 {
    margin: 2rem auto;
}
.main-container {
    width: 100%;
    height: 65%;
    display: flex;
    background-color: #E8E4E1;
}
.work {
    height: 100%;
    width: 28%;
    margin: -60px auto;
    text-align: center;
}
.work img {
    height: 20%;
}
h2,h3 {
    text-align: center;
    margin-top: 20px;
}
.content {
    height: 80%;
    width: 100%;
    overflow: scroll;
    margin-top: 5%;
    text-align: justify;
}

@media (max-width: 800px) {
    .works-container {
        height: auto;
        padding-top: 6rem;
    }
    .main-container {
        display: flex;
        flex-direction: column;
        background-color: #FAF9F7;
    }
    .work {
        width: 85%;
        margin: auto;
    }
    .content {
        height: auto;
        margin-bottom: 2rem;
    }
    .work img {
        height: 100px;
    }
}